---
layout: base.njk
title: endroit sûr
---

<div class="content-section-legal">

    <div class="es-logo small">
        <h1>{{ title }}</h1>
        <span class="strap">Your Safespace</span>
    </div>

    <h2>Cookie Policy</h2>
    <h3 id='introduction'>Introduction</h3>
    <p>At endroit sûr, we are committed to protecting your privacy and ensuring that your personal information is
       handled in a safe and responsible manner. This Cookie</p>
    <p>Policy explains what cookies are, how we use them on our website, and your choices regarding their use.</p>
    <h3 id='what-are-cookies'>What are Cookies?</h3>
    <p>Cookies are small text files that are placed on your device (computer, smartphone, or other electronic device)
       when you visit our website. They are widely used to</p>
    <p>make websites work more efficiently, as well as to provide information to the website owners.</p>
    <h3 id='how-we-use-cookies'>How We Use Cookies</h3>
    <p>We use cookies to:</p>
    <p><strong>Enhance your user experience</strong>: Cookies help us to remember your preferences and tailor our
                                                    website to provide enhanced features and content for you.</p>
    <p><strong>Analyze website usage</strong>: We use cookies to gather statistical data about how our website is used.
                                             This helps us understand which parts of our site are popular and how we can
                                             improve our services.</p>
    <p><strong>Deliver relevant advertising</strong>: Cookies can also be used to provide relevant advertising to you
                                                    based on your browsing habits and interests.</p>
    <h3 id='types-of-cookies-we-use'>Types of Cookies We Use</h3>
    <p><strong>Essential Cookies</strong>: These are necessary for the operation of our website. They include, for
                                         example, cookies that enable you to log into secure areas of our website.</p>
    <p><strong>Analytical/Performance Cookies</strong>: These allow us to recognize and count the number of visitors and
                                                      see</p>
</div>
