---
layout: base.njk
title: endroit sûr
---

<div class="content-section-legal">

    <div class="es-logo small">
        <h1>{{ title }}</h1>
        <span class="strap">Your Safespace</span>
    </div>

    <h2>Terms of Service</h2>

</div>
