---
layout: base.njk
title: Endroit Sûr
---

<main>
    <section class="content-section hero">
        <h1>Homepage</h1>
    </section>
    <section class="content-section">
        <h2>Community</h2>
    </section>
    <section class="content-section">
        <h2>Overview</h2>
    </section>
    <section class="content-section">
        <h2>Investment</h2>
    </section>
    <section class="content-section">
        <h2>Partners</h2>
    </section>
    <section class="content-section">
        <h2>Tenants</h2>
    </section>
    <section class="content-section">
        <h2>Contact us</h2>
    </section>
</main>

