---
layout: base.njk
title: endroit sûr
---

<main>
    <section class="hero-section">
        <img src="images/hero.jpg" alt="">
        <div>
            <h2>The Home Of UK Rental Accommodation</h2>
            <p>Join The Revolution: Transforming the UK rental landscape together by providing safe, stable, quality homes and fostering a thriving community for tenants and investors alike.</p>
            <p>Ready to be part of the movement.</p>
            <p>Join our network today!</p>
            <button>Book a Call</button>
        </div>





    </section>

    <section class="content-section">
        <h2>Community</h2>
    </section>
    <section class="content-section">
        <div>
            <p>Welcome to endroit sûr, where we are transforming the UK property rental landscape. Our mission is simple yet ambitious: to become the home of UK rental accommodation.</p>
            <p>As a leading property investor, lettings, and property management firm headquartered in the historic city
               of Oxford, endroit sûr blends its own unique national portfolio of rental accommodation along with
               partnering with a diverse range of long-term property investors.</p>
            <p>Our aim is to provide safe, stable, and
               well-maintained rental properties across the UK, ensuring quality living spaces for all our tenants.</p>
            <p>At endroit sûr, we are committed to setting new standards in property rental sector, fostering a
               community where tenants feel secure, and property investment partners see robust returns.</p>
            <p>We believe in the power of collaboration and community. By working closely with our property investment
               partners and understanding the unique needs of our tenants, we create rental experiences that are both
               enjoyable and reliable.</p>
            <p>Our properties are not just places to live; they are homes where memories are made, and lives are enriched.</p>
            <p>Ready to join the endroit sûr revolution? Book a call with us today!</p>
            <button>Book a Call</button>
        </div>
        <div class="img-panel">
            <img src="images/overview.jpg" alt="">
        </div>
    </section>
    <section class="content-section">
        <div>
            <h2>Elevate Your Investment Game</h2>
            <h3>Transforming UK Rentals</h3>
            <p>Join us in reshaping how people find their perfect homes.</p>
            <h3>Explore Diverse Investment Options:</h3>
            <p>Discover a wide array of property investment choices tailored to every strategy, from single-family homes
               to
               student accommodations and more.</p>
            <h3>Unlock Your Investment Potential:</h3>
            <p>Looking to buy or sell rental property? Partner with endroit sur and be part of a ground-breaking
               movement in
               the UK rental market.</p>
            <h3>Tailored Solutions for Property Owners:</h3>
            <p>Benefit from customized solutions designed to streamline the buying and selling process, enhance property
               value, and boost investment returns.</p>
            <h3>Join the endroit sur Movement Today:</h3>
            <p>Don't miss out - join endroit sur now and seize the opportunity for unprecedented success in property
               investment.</p>
            <p>Click the button below to reach out to us. We can't wait to hear from you!</p>
            <button>Book a Call</button>
        </div>
        <div class="img-panel">
            <img src="images/investment.jpg" alt="">
        </div>
    </section>
    <section class="content-section">
        <div>
            <h2>Join the Revolution</h2>
            <p>At endroit sûr, we are proud to be part of a dynamic network transforming the rental market across the
               UK.
               Our mission is to help you optimise your property portfolio for maximum returns and seamless
               management.</p>
            <h3>Transformative Property Solutions</h3>
            <p>Whether you're looking for letting services, property management, refurbishment, or new asset
               acquisition,
               endroit sûr is your ideal partner. We offer tailored solutions to meet the diverse needs of property
               investors, providing expert guidance and hands-on support every step of the way.</p>
            <h3>Property Letting Services</h3>
            <p>Maximise your rental income with our professional letting services. From tenant sourcing and vetting to
               rent
               collection and maintenance, we ensure your properties are occupied by reliable tenants who care for your
               investment.</p>
            <h3>Property Management</h3>
            <p>Leave the day-to-day management to us. Our dedicated team oversees maintenance, repairs, tenant
               communications, and legal compliance, keeping your properties in top condition and your tenants
               satisfied.</p>
            <h3>Property Refurbishment</h3>
            <p>Boost your property value with our expert refurbishment services. We deliver high-quality upgrades and
               renovations that enhance both appeal and market value.</p>
            <h3>New Asset Acquisition</h3>
            <p>Expand your portfolio with confidence. Our experts help you identify and purchase high-potential assets,
               ensuring informed decisions that align with your investment goals.</p>
            <button>Book a Call</button>
        </div>
        <div class="img-panel">
            <img src="images/partners.jpg" alt="">
        </div>
    </section>
    <section class="content-section">

        <div>
            <h2>Discover Your Ideal Home</h2>
            <p>Are you seeking long-term, secure rental accommodation across the UK? Look no further than endroit sur,
               where we turn houses into welcoming homes and foster vibrant communities for all our residents.</p>
            <h3>Join a Thriving Community.</h3>
            <p>We believe in more than just providing shelter. We're dedicated to building a community where everyone
               feels
               valued and connected. When you choose a home with us, you're not just renting a property; you're becoming
               part of a movement that values security, stability, and community.</p>
            <h3>Safe and Well-Maintained Homes.</h3>
            <p>Our homes are meticulously maintained to ensure your safety and comfort. We prioritize regular
               maintenance
               and security measures to provide peace of mind. Located in prime areas across the UK, our properties
               offer
               convenience and a sense of belonging in every neighbourhood.</p>
            <h3>Make a House a Home.</h3>
            <p>Your living space should reflect who you are. At endroit sur, we offer opportunities for personalization.
               With flexible rental options and supportive staff, creating a space that feels uniquely yours is
               easy.</p>
            <h3>Earn Rewards While You Rent</h3>
            <p>Living with endroit sur means more than just paying rent. As part of our community, you can earn points
               monthly for your favourite home comforts. Whether upgrading furniture, adding personal décor, or
               enhancing
               with technology, your home can grow with you.</p>
            <h3>Be Part of Something Bigger</h3>
            <p>Choosing endroit sur means joining a movement towards better living standards. Our commitment to quality,
               community, and customer satisfaction sets us apart. We're not just offering a place to live; we're
               inviting
               you to be part of a vision that values long-term stability and continuous improvement.</p>
            <p>Choose endroit sur and embark on a journey towards a fulfilling living experience. Discover the joy of
               being
               part of a community that values you and your aspirations.</p>
            <p>Together, let's create a place where you can truly thrive.</p>
            <p>Click the button below to reach out to us. We can't wait to hear from you!</p>
            <button>Book a Call</button>
        </div>
        <div class="img-panel">
            <img src="images/tenants.jpg" alt="">
        </div>
    </section>
    <section class="content-section">
        <div>
            <h2>Contact us</h2>
            hello@endroitsur.co.uk

            Follow Us:
            Facebook | LinkedIn
        </div>
        <div>
            Legal:
            •	Privacy Policy
            •	Terms of Service
            •	Cookie Policy
        </div>
        <div>
            Stay Updated:
            Subscribe to our newsletter: [code provided on next slide) Customer Service:
            •	Help Center
            © 2024 Endroit Sur. All Rights Reserved.
        </div>
        <div>
            <img class="es-association-logo" src="images/the-property-ombudsman.svg" alt="Property Ombudsman Logo">
            <img class="es-association-logo" src="images/arla.png" alt="Arla Propertymark logo">
        </div>





    </section>
</main>

